body {background-color: darkcyan;
}
h2 {text-align: center;
    color: lightskyblue;
    font-size: 200%;
    border-width: 10px;
    border-color: blueviolet;
    border-style: dashed;
}
#ima1 {width: 30%;
       border-width: 15px;
       border-style: dotted;
       border-color: black;
}
#ima2 {width: 70%;
       border-style: double ;
       border-color: blue;
       border-width: 15px;
}
h1 {text-align: center;
   color: lightskyblue;
   font-size: 200%;
   border-width: 10px;
   border-color: blue;
   border-style: inherit;
}
h3 {text-align: center;
    color: lightskyblue;
    font-size: 200%;
    border-width: 10px;
    border-color: aqua;
    border-style: initial;
}

#ima3 {width: 70%;
    border-style: dashed;
    border-color: blueviolet;
    border-width: 15px;
}
h4 {text-align: center;
    color: lightskyblue;
    font-size: 200%;
    border-style: double;
    border-color: black;
    border-width: 10px;
}

#ima4 {width: 70%;
   border-style: groove;
   border-color: aquamarine;
   border-width: 15px;
}
